fastapi
uvicorn[standard]

numpy==1.26.4
pandas==2.3.0
pyyaml==6.0.2

fastparquet==2024.11.0
pyarrow==20.0.0

torch==2.7.1
torchvision>=0.2.1

python-dotenv

langchain>=0.3.26  # langchain-comunity==0.3.27
langchain-community
langchain-core
langchain-chroma==0.2.4
langchain-openai==0.3.27

sentence-transformers==5.0.0

# Integração com PostgreSQL
sqlalchemy>=2.0.0
psycopg2-binary

# Consultas analíticas locais
duckdb>=1.1.0
